/*-- scss:defaults --*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
.rounded-img {
  border-radius: 15px;
}

img {
  display: block;
  margin: 1rem auto;
}

.center-text {
  text-align: center;
}

table caption {
  color: #AF7595;
}

figcaption {
  color: #AF7595;
}

imagecaption {
  color: #AF7595;
}
